<div class="tab-pane" id="tabWork"> 
		   &quot;Seven Deadly Sins<br>

Wealth without work<br>
Pleasure without conscience<br>
Science without humanity<br>
Knowledge without character<br>
Politics without principle<br>
Commerce without morality<br>
Worship without sacrifice.&quot;<br>
&hyphen; <abbr title="a hindu, a muslim, and a christian"> Mahatma Gandhi </abbr> </div>