<div class="tab-pane" id="tabGym">
	   <%= image_tag("wolf.jpg", :class => "rounded-corners") %>
		   <br>&quot;The greater danger for most of us is not that our aim is too high and we miss it, but that it is too low and we reach it. &quot; <br>
		   &hyphen; <abbr title="a painter"> Michelangelo </abbr>
	   </div>