<div class="tab-pane" id="tabMars">
&quot;This Sarah Palin phenomenon is very curious. I think somebody watching us from Mars &hyphen; they would think the country has gone insane.&quot; 
&hyphen; <abbr title="an author"> Noam Chomsky </abbr>
	  
	   </div>