<div id="tabs"> 
          <ul class="nav nav-tabs">
            <li class="active"> <a href="#tabHome" data-toggle="tab"> <i class="icon-home"></i>Home</a> </li>
            <li> <a href="#tabWork" data-toggle="tab">Work</a> </li>
            <li> <a href="#tabGym" data-toggle="tab">Gym</a> </li>
            <li> <a href="#tabMars" data-toggle="tab">Mars</a> </li>
          </ul>
        </div>