<div class="tab-pane active" id="tabHome">
			&quot;Home is the nicest word there is.&quot;<br>
			&hyphen; <abbr title="Wrote Little House on the Prairie"> Laura Ingalls Wilder </abbr>
			<br>
		</div>